[submodule "instagram"]
	path = instagram
	url = https://github.com/LevPasha/Instagram-API-python.git
[submodule "instagramfilters"]
	path = instagramfilters
	url = https://github.com/mikeoconnor0308/instagram-filters.git
